@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Rock+Salt&display=swap');


@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

.buttonGlitch {
  animation: shake 2.5s infinite forwards;
}

:root {
    --font: "neontubes";
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 0.875em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
  }
  
  @keyframes zoom {
    from {
      object-position: 0 50%;
    }
    to {
      object-position: 100% 50%;
    }
  }
  
  @keyframes blur {
    from {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
      transform: scale(2, 2);
    }
  }
    
  .wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, 1fr );
    grid-template-rows: auto;
    grid-template-areas:
      "menu menu menu"
      ". card .";
    width: 100vw;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .card {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 250px;
    height: 400px;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index: 5;
  }
  
  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    filter: drop-shadow(white 3px 1px 3px);
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  }
  
  .card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    animation-name: zoom;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
  }
  
  .card__header {
    display: grid;
    width: 100%;
    height: 200px;
  }
  
  .card:hover .card__profile img {
    -webkit-transform: scale(1, 1)  translateZ(0);
    transform: scale(1, 1)  translateZ(0);
  }
  
  .card__body {
    display: grid;
    padding: 0 20px;
  }
  
  .card__name {
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    font-size: var(--fontLarge);
    font-weight: var(--fontRegular);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background: -webkit-linear-gradient(white, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    font-family: "neontubes", sans-serif;
    color: #fff;
    text-shadow: 0 0 0.15em #1da9cc;
    animation: shake 2.5s infinite forwards;
    margin-top: 70%;
  }
  
  .card:hover .card__name {
    background: -webkit-linear-gradient(white, #c1c1c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  .card__job {
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    letter-spacing: 0.35rem;
    color: black;
    filter: drop-shadow(black -1px 1px 2px);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    font-family: 'Rock Salt', cursive;
    font-size: 10px;
    background-image: url(https://toppng.com/uploads/thumbnail/tear-clipart-torn-piece-paper-torn-paper-edges-11562867565lp2ktdxfjy.png);
    background-size: 100% 100%;
    rotate: -0.5deg
  }
  
  .card__selection {
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    color: black !important;
    filter: drop-shadow(black -1px 1px 2px);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    font-family: 'Rock Salt', cursive;
    font-size: 10px;
    font-weight: bold;
    background-image: url(https://static.everypixel.com/ep-pixabay/0025/5951/3647/57663/255951364757663271-paper.png);
    background-size: 100% 100%;
    width: 50%;
    rotate: 10deg;
  }

  .card:hover .card__job {
    color: rgba(100, 130, 200, 1);
  }
  
  .card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    margin: 22px 0 16px 0;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  
  .card__footer {
    position: relative;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "date category";
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__footer {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  
  .card__date {
    grid-area: date;
    display: inline-block;
    align-self: left;
    justify-self: left;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    font-family: "neontubes", sans-serif;
    text-shadow: 0 0 0.15em #1da9cc;
  }

  /* MODIFIERS */
  .card[data-effect="blur"]:hover .card__image img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  
  .card[data-effect="blur"] .card__image img {
    animation-name: blur;
  }
  
  .card[data-effect="color"]:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: drop-shadow(white 3px 1px 3px);
    box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
  }
  
  .card[data-effect="color"] .card__image {
    background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
  }
  
  .card[data-effect="color"]:hover .card__image img {
    opacity: 1;
  }
  
  .card[data-effect="color"]:hover .card__profile img {
    -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
    filter: grayscale(50%) contrast(80%) brightness(1.6);
    mix-blend-mode: normal;
  }

  
  @keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}
  