.scanline {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.02);
	animation: scanline 8s linear infinite;
	pointer-events: none;
}

html {
	text-shadow: 0 0 5px rgba(255,255,255,0.3);
	background-color: darken(red, 47%);	
	background-size: 100px;
	height: 100%;
}

@keyframes scanline {
	0.01% {
    height: 0;
  }
  99.99% {
    height: 100%
  }
	100% {
		height: 0;
	}
}

body {
	background: linear-gradient(black, darkgreen);
}

a {
	color: black !important;
}